.blur-blue {
    position: absolute;
    bottom: -18px;
    left: 0px;
    filter: blur(550px);
    background-color: #62a1ea;
    width: 642px;
    height: 75px;
}
.blur-grey {
    position: absolute;
    right: 0px;
    bottom: -18px;
    filter: blur(550px);
    background-color: #99a4b1;
    width: 700px;
    height: 75px;
}
.loader-bar-icon {
    position: absolute;
    top: 393px;
    left: 703px;
    width: 34px;
    height: 34px;
}
.just-a-moment {
    position: absolute;
    top: 439px;
    left: calc(50% - 128px);
    display: inline-block;
    width: 256px;
}
.frame {
    width: 100%;
    position: relative;
    background-color: #090909;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: Poppins;
}



.body{
    background-color: #090909;
}